h1{
  font-size: 90px;
  margin-top: 0px;
  top: 50px;
  left: 700px;
  font-family:'Sacramento',cursive;
  color:#ffa34d;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top_container{
  background-color: #e4f9f4;
  padding: 100px;
}
.middle_container{
  background-color: white;
}
.bottom_container{
  background-color: #e4f9f4;
  padding-top: 50px;

}
.image{
  position: relative;
  top: 104px;
}
.head{
  top: 100px;
  left: 720px;
  font-size: 20px;
  font-weight: normal;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #084177;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #d63447;
}
.round{
  border-radius: 100%;
}
.code-img{
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.gaming-image{
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 50px;
}
hr{
  border: dotted #e4f9f4 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Courier New;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn:active {
	position:relative;
	top:1px;
}
a{
  color:#11999e;
  font-family: Montserrat,sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:black;
}
